* {
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}

body {
    background-color: #7d8087;
}

header h1 {
        text-align: center;
        font-size: 500%;
        line-height: 3.5;
       background-image: url("block background.jpg");
        color: #e49f44;
        text-shadow: 11px 7px 9px #6eccf0;
        -webkit-text-stroke: 1px #7d8087;
        background-size: 85%;
        background-position: inherit;
}

aside {
    display: flex;
    background-color: #a95da7;
}

aside p{
    flex: 1 1 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.25;
    font-size: 20px;
    font-weight: 300;
    background-color: #a95da7;
}

nav {
    display: flex;
    justify-content: center;
    
}
button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 235%;
    font-weight: 300;
    line-height: 250%;
    flex: 1 1 auto;
    border: 5px solid #7cca42;
    background-color: #7d8087;
}

  .about img{
    max-width: 275px;
    display: block;
}
main {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
section {
    color: azure;
    border-style: solid;
    justify-content: center;
    border-width: 1px;
    padding: 10px;
    width: 48%;
    float:unset
    }

#card-1 {
    background-color: #ffca2a;
    display: block;
    flex-direction: column;
    width: 97.65%;
    height: 400px;
}

#card-2 {
    background-color: #6eccf0;
}

#card-3 {
    background-color: #5a311d;
}

#card-4 {
    background-color: #da5f4d;
}

#card-5 {
    background-color: #4ea37b;
}

#contact {
    background-color: #7cca42;
    display: flex;
    flex-direction:column;
    font-size: 34px;
    font-weight: 300;
    font-family: "Lucida Console", sans-serif;
    justify-content: center;
}

#contact img {
    display: inline;
    position:relative;
    right: -74px;
    top: -32px;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 992px) {
    section {
       width: 22%;
     }
  }

 @media screen and (max-width: 770px) {
    .about img{
        max-width: 75%;
        display: block;
        position: relative;
        top: 10px;
    }
    
    button {
        font-size: 150%;
        flex: 0 0 32%;
        font-weight: 300;
        line-height: 25 auto;
        }
    aside {
        font-size: 16px;
        font-weight: 200;
        flex-direction: column;
        background-color: #6eccf0;
      }    
    }

     section 
     {
      width: 50%; 
     }