* {
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkkhaki;
    color: navy;
}
header h1 {
        text-align: center;
        font-size: 500%;
       background-image: url("block background.jpg");

        background-size:;
        background-position: center;

}
nav {
    font-style: italic;
    display: flex
}
.container, div {
    border: 5px solid whitesmoke;
    background-color: blanchedalmond;
;
}

/* displayed none on photo needs to be changed  */
.about img{
    max-width: 275px;
    display: block;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section {
    background-color: violet;
    border-style: solid;
    justify-content: center;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 33%;
    display:flex;
}
/* Cards need to be staggered and add a hoverd boxed next to to describe */
#card-1 {
    background-color: royalblue;
}

#card-2 {
    background-color: red;
    
    
}

#card-3 {
    background-color: grey;
    
}

#card-4 {
    background-color: blueviolet;
}

#card-5 {
    background-color: aquamarine;
}

#card-6 {
    background-color: black;
}
aside {
    display: block;
}
#contact {
    font-size: 24px;
}

@media screen and (max-width: 992px) {

    section {
   
    width: 25%;

    }
  }
  
  @media screen and (max-width: 770px) {
     section 
     {
      width: 50%;
      
  }
  }