* {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #7d8087;
}

header h1 {
    text-align: center;
    font-size: 500%;
    line-height: 3.5;
    background-image: url("block background.jpg");

    background: linear-gradient (right #e49f44, #6eccf0, black);
    color:#7cca42;
     text-shadow: 20px 5px 2px #6eccf0;
    -webkit-text-stroke: 2px black;
    background-size: 85%;
     background-position: inherit;
}
nav {
    
    justify-content: center;

}

button {
    
    font-size: 235%;
    font-weight: 300;
    line-height: 250%;
   
    border: 5px solid #7cca42;
    background-color: #7d8087;
}
button:hover{
    background-color: #7cca42;
    color: #a95da7;
}

#about{
    background-color:  #a95da7;
    text-align: left;
    
}
#card-1 {
    background-color: #ffca2a;
    display: block;
    flex-direction: column;

    align-items: center;
    text-align: center;
}

#card-2 {
    background-color: #6eccf0;
}

#card-3 {
    background-color: #5a311d;
}

#card-4 {
    background-color: #da5f4d;
}

#card-5 {
    background-color: #4ea37b;
}

#contact {
    background-color: #7cca42;
    display: flex;
    flex-direction: column;
    font-size: 34px;
    font-weight: 300;
    font-family: "Lucida Console", sans-serif;
   
}
#blue-text{
    font-size: x-large;
    font-style: oblique;
    color: #6eccf0;
    background-color: #5a311d;
}

