* {
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #7d8087;
    
      align-items: center;
}
header h1 {
        text-align: center;
        font-size: 500%;
        line-height: 3.5;
       background-image: url("block background.jpg");
        color: #e49f44;
        text-shadow: 11px 7px 9px #6eccf0;
        -webkit-text-stroke: 1px #7d8087;
        background-size: 85%;
        background-position: inherit;
}
aside {
    display: flex;
    background-color: #a95da7;
}
aside p{
    flex: 1 1 auto;
    background-color: #a95da7;


}

nav {
    display: flex;
    
}
button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 235%;
    font-weight: 300;
    line-height: 250%;
    flex: 1 1 auto;
    border: 5px solid #7cca42;
}

       /* displayed none on photo needs to be changed  */
.about img{
    max-width: 275px;
    display: block;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section {
    background-color: violet;
    border-style: solid;
    justify-content: center;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 33%;
    display:flex;
}
/* Cards need to be staggered and add a hoverd boxed next to to describe */
#card-1 {
    background-color: #ffca2a;
}

#card-2 {
    background-color: #6eccf0;
    
    
}

#card-3 {
    background-color: #5a311d;
    
}

#card-4 {
    background-color: blueviolet;
}

#card-5 {
    background-color: aquamarine;
}

#card-6 {
    background-color: black;
}

#contact {
    font-size: 24px;
    font-weight: 300;
    font-family: "Lucida Console", sans-serif;
}

@media screen and (max-width: 992px) {

    section {
   
    width: 25%;

    }
  }
  
  @media screen and (max-width: 770px) {
     section 
     {
      width: 50%;
      
  }
  }