* {
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #7d8087;
    
      align-items: center;
}
header h1 {
        text-align: center;
        font-size: 500%;
        line-height: 3.5;
       background-image: url("block background.jpg");
        color: #e49f44;
        text-shadow: 11px 7px 9px #6eccf0;
        -webkit-text-stroke: 1px #7d8087;
        background-size: 85%;
        background-position: inherit;
}
aside {
    display: flex;
    background-color: #a95da7;
}
aside p{
    flex: 1 1 auto;
    background-color: #a95da7;
}

nav {
    display: flex;
    
}
button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 235%;
    font-weight: 300;
    line-height: 250%;
    flex: 1 1 auto;
    border: 5px solid #7cca42;
}

  .about img{
    max-width: 275px;
    display: block;
}
main {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
section {
    color: azure;
    border-style: solid;
    justify-content: center;
    border-width: 1px;
    padding: 10px;
    width: 48%;
    float:unset
    }

#card-1 {
    background-color: #ffca2a;
    display: block;
    flex-direction: column;
    width: 97.65%;
    height: 400px;
}

#card-2 {
    background-color: #6eccf0;
    
    
}

#card-3 {
    background-color: #5a311d;
    
}

#card-4 {
    background-color: blueviolet;
}

#card-5 {
    background-color: aquamarine;
}

#contact {
    font-size: 24px;
    font-weight: 300;
    font-family: "Lucida Console", sans-serif;
}

#contact img {
    display: inline;
    width: 30px;
    height: 30px;
    position: relative;
}

@media screen and (max-width: 992px) {

    section {
   
    width: 22%;

    }
  }
  
  @media screen and (max-width: 770px) {
     section 
     {
      width: 50%;
      
  }
  }